.flex-item {
  margin-top 20px
  margin-bottom 40px
  width 740px
  max-width 95%
}

.video-wrap {
  width 100%
  padding-bottom 56.25%
  position relative
}

ushio-player {
  display block
  top 0
  bottom 0
  left 0
  right 0
  position absolute
}
