transform()
  -webkit-transform arguments
  -moz-transform arguments
  -ms-transform arguments
  -o-transform arguments
  transform arguments

transition()
  -webkit-transition arguments
  -moz-transition arguments
  -ms-transition arguments
  -o-transition arguments
  transition arguments

filter()
  -webkit-filter arguments
  -moz-filter arguments
  -ms-filter arguments
  -o-filter arguments
  filter arguments

user-select()
  -webkit-touch-callout arguments
  -webkit-user-select arguments
  -moz-user-select arguments
  -ms-user-select arguments
  user-select arguments

box-sizing()
  -webkit-box-sizing arguments
  box-sizing arguments
