@import "mixins.styl"

.ushio-player {
  position relative
  display flex
  min-height 0
  z-index 66
  overflow hidden
  user-select: none

  .ushio-player-video {
    position relative
    display flex
    justify-content center
    z-index 10
    background #000
    width 100%
    cursor pointer

    video {
      width 100%
    }
  }

  .ushio-player-video-control-wrap:hover {
    opacity: 1;
  }
  .ushio-player-video-control-wrap {
    z-index 70
    padding 0 12px
    position absolute
    bottom 0
    left 0
    width 100%
    box-sizing border-box
    opacity 0
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    .ushio-player-video-control {
      display flex
      position relative
      z-index 71
      height 36px
      line-height 36px
      zoom 1

      .video-control-top {
        width 100%
        position absolute
        bottom 32px

        .video-progress {
          .video-progress-slider {
            height 14px
            cursor pointer
            display: flex;
            vertical-align: middle;
            align-items: center;
            justify-content: center;

            .slider-track {
              height 2px
              position relative
              width 100%
              display: flex;
              align-items: center;

              .slider-track-bar-wrap {
                background hsla(0,0%,100%,.2)
                position absolute
                top 0
                bottom 0
                left 0
                right 0
                border-radius 1.5px
                overflow hidden

                .bar-buffer {
                  transform scaleX(1)
                  background hsla(0,0%,100%,.3)
                  transition transform .2s,-webkit-transform .2s
                  position absolute
                  transform-origin 0 0
                  top 0
                  bottom 0
                  left 0
                  right 0
                }

                .bar-normal {
                  transform scaleX(0)
                  position absolute
                  transform-origin 0 0
                  top 0
                  bottom 0
                  left 0
                  right 0
                  background #fff
                }

              }

              .slider-track-thumb {

              }
            }
          }

          .video-progress-detail {

          }
        }
      }

      .video-control-bottom {
        width 100%
        display flex
        justify-content space-between
        height 29px
        line-height 22px
        margin 7px 0 0
      }
    }
  }

}
